* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
.resume-wrapper {
  position: relative;
  padding-left: 2em;
  color: white;
  padding-bottom: 4em;
  margin-bottom: -2em;
}
.resume-container1 {
  padding: 1em 0;
  display: flex;

  align-items: center;
}
.icon-div {
  font-size: 1em;
  color: var(--gold-color);
  width: 2em;
  height: 2em;
  padding-top: 0.4em;
  padding-left: 0.4em;

  border-radius: 10px;

  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2);
}
.title-div h1 {
  margin-top: -0.2em;
}

.bullet {
  position: relative;
  padding: -4em 0;
  display: flex;

  align-items: center;
}
.circle {
  position: absolute;
  background-color: var(--gold-color);
  left: 0.8em;
  top: 0.4em;
  width: 0.5em;
  height: 0.5em;

  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgb(138, 136, 136);
  z-index: 10;
}

.content {
  margin-left: 4em;
}
.main-title {
  padding-bottom: 1em;
  padding-left: 2em;
  margin-top: -1.1em;
}
#duration {
  color: var(--gold-color);
}
.resume-container2 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.mini-circle {
  background-color: var(--gold-color);
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  margin-right: 0.4em;
  z-index: 10;
}
.experiance-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
button {
  bottom: 0;
  right: 5em;
  color: var(--gold-color);
  padding: 1em;
  border-radius: 13px;
  box-shadow: -1px -1px 1px 1px rgb(66, 65, 65);
}
button:hover {
  box-shadow: -1px -1px 1px 1px #dec84dc5;
}
.download-button .icon-div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  position: absolute;
  bottom: 0;
  right: 5em;
  color: var(--gold-color);
  margin-right: 2.5em;
}
.download-button {
  display: flex;
  align-items: center;
}

.download-div {
  margin-right: 0.5em;
}
