* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
.resume-wrapper {
  position: relative;
  padding-left: 2em;
  color: white;
  padding-bottom: 4em;
  margin-bottom: -2em;
}
.resume-container1 {
  padding: 0.5em 0;
  display: flex;

  align-items: center;
}
.icon-div {
  font-size: 1em;
  color: var(--gold-color);
  width: 2em;
  height: 2em;
  padding-top: 0.4em;
  padding-left: 0.4em;

  border-radius: 10px;

  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.2);
}
.title-div h1 {
  margin-top: -0.2em;
}

.bullet {
  position: relative;
  padding: -4em 0;
  display: flex;

  align-items: center;
}
.circle {
  position: absolute;
  background-color: var(--gold-color);
  left: 0.8em;
  top: 0.4em;
  width: 0.5em;
  height: 0.5em;

  border-radius: 50%;
  box-shadow: 0 0 4px 2px rgb(138, 136, 136);
  z-index: 10;
}

.content {
  margin-left: 4em;
}
.main-title {
  padding-bottom: 0.7em;
  padding-left: 2em;
  margin-top: -1.1em;
}
#duration {
  color: var(--gold-color);
  padding-top: 1em;
  padding-left: 0.25em;
}
.resume-container2 {
  padding-top: 1em;
}
#bold {
  font-size: large;
  color: rgba(255, 255, 255, 0.748);
}
.mini-circle {
  background-color: var(--gold-color);
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  margin-right: 0.7em;

  z-index: 10;
}
.experiance-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.Skills-list {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 0.5em;
  padding-left: 0.5em;
}
.Skills-list p {
  color: var(--gold-color);
}

button {
  bottom: 0;
  right: 5em;
  color: var(--gold-color);
  padding: 1em;
  border-radius: 13px;
  box-shadow: -1px -1px 1px 1px rgb(66, 65, 65);
}
button:hover {
  box-shadow: -1px -1px 1px 1px #dec84dc5;
}
.download-button .icon-div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  position: absolute;
  bottom: 0;
  right: 5em;
  color: var(--gold-color);
  margin-right: 2.5em;
}
.download-button {
  display: flex;
  align-items: center;
}

.download-div {
  margin-right: 0.5em;
}

/* Responsive Design */
@media (max-width: 499px) {
  .Skills-list {
    grid-template-columns: repeat(2, 2fr);
    gap: 0;
    padding-left: 0.5em;
  }
  .resume-container1 {
    padding: 0.1em 0;
  }
  .title-div h1 {
    font-size: 1.2em;
  }
  .content h3 {
    font-size: 1em;
  }
  .content p {
    font-size: 0.8em;
    padding-left: 0.2em;
  }
  #bold {
    font-size: 0.8em;
    text-align: left;
  }
  .content .experiance-paragraph {
    font-size: 0.8em;
    text-align: left;
  }
  .content h3 {
    padding-top: 0.3em;
  }
  .mini-circle {
    background-color: var(--gold-color);
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    margin-right: 1em;
    padding-right: 0.5em;
    z-index: 10;
  }
}
@media (max-width: 768px) {
  .Skills-list {
    /* grid-template-columns: repeat(3, 2fr); */
    gap: 0;
    padding-left: 0.5em;
  }
  .button {
    margin-right: -2em;
  }

  .download-div {
    margin-right: 0.4em;
  }
  .main-title {
    padding-bottom: 0.4em;

    margin-top: -1.5em;
  }
  #duration {
    color: var(--gold-color);
    padding-top: 0.5em;
    padding-left: 0.25em;
  }
  .download-button {
    margin-bottom: 1em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .Skills-list {
    grid-template-columns: repeat(3, 2fr);
    gap: 2em;
    padding-left: 0.5em;
  }
  .button {
    margin-right: -1em;
  }

  .download-div {
    margin-right: 0.5em;
  }
  .main-title {
    padding-bottom: 1em;
    margin-top: -1em;
  }
  #duration {
    color: var(--gold-color);
    padding-top: 0.5em;
    padding-left: 0.25em;
  }
}
