* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
.about-me {
  padding-bottom: 4em;
}
form {
  position: relative;
  margin: 0;
  padding: 2em;
}

input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font: inherit;
}
textarea {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font: inherit;
  resize: none;
}
button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
input[type="text"],
input[type="email"] {
  background-color: var(--main-color);
  width: 52em;
  padding: 1em;
  margin: 2em;
  color: var(--gold-color);
  border-radius: 13px;
  box-shadow: 0 0 1px 1px rgb(66, 65, 65);
  transition: box-shadow 0.4s ease;
}
textarea {
  width: 52em;
  background-color: var(--main-color);
  padding: 1em;
  margin: 2em;
  color: var(--gold-color);
  border-radius: 13px;
  box-shadow: 0 0 1px 1px rgb(66, 65, 65);
  transition: box-shadow 0.4s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  box-shadow: 0 0 1px 1px var(--gold-color);
  outline: none;
}
input[name="name"],
input[name="email"] {
  width: 24em;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
input:-webkit-autofill {
  background-color: var(--bg-color) !important;
  -webkit-text-fill-color: var(--gold-color); /* Text color for autofill */
}
button {
  position: absolute;
  bottom: 0;
  right: 6em;

  color: var(--gold-color);
  background-color: var(--main-color);
  padding: 1em;
  border-radius: 13px;
  box-shadow: -1px -1px 1px 1px rgb(66, 65, 65);
}
/* Responsive Design */
@media (max-width: 499px) {
}
@media (max-width: 768px) {
  form {
    position: relative;
    margin: 0;
    padding: 0;
    padding-right: 1em;
    padding-bottom: 3em;
  }
  input[name="subject"],
  input[name="name"],
  input[name="email"] {
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
  }
  textarea {
    width: 90%;
  }
  button[id="message-button"] {
    width: 79%;
    position: absolute;
    bottom: 0;
    left: 3em;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  form {
    position: relative;
    margin: 0;
    padding: 1em;
    padding-bottom: 3em;
  }
  input[name="subject"],
  input[name="name"],
  input[name="email"] {
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
  }
  textarea {
    width: 90%;
  }
  button[id="message-button"] {
    width: 30em;
    position: absolute;
    bottom: 0;
    left: 3em;
  }
}
