* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
.about-me {
  padding-bottom: 4em;
}
form {
  position: relative;
  margin: 0;
  padding: 2em;
}

input {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font: inherit;
}
textarea {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font: inherit;
  resize: none;
}
button {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: var(--main-color);
  width: 52em;
  padding: 1em;
  margin: 2em;

  border-radius: 13px;
  box-shadow: 0 0 1px 1px rgb(66, 65, 65);
}
input[name="name"],
input[name="email"] {
  width: 24em;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
button {
  position: absolute;
  bottom: 0;
  right: 6em;

  color: var(--gold-color);
  background-color: var(--main-color);
  padding: 1em;
  border-radius: 13px;
  box-shadow: -1px -1px 1px 1px rgb(66, 65, 65);
}
