* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}

.project-list a {
  text-decoration: none;
}
.project-list h6 {
  margin: 0 1em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
}
.project-list p {
  margin-left: 1.1em;
}
.content {
  padding-right: 1em;
  margin-left: 1em;
}
.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  gap: 1.8em;
  list-style-type: none;
  width: 100%;
}
.project-list {
  height: 30vh;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 2px rgb(144, 142, 142);
  background-color: var(--main-color);
}
.project-list a {
  display: block;
  height: 100%;
}
.project-list a figure {
  height: 100%;
  overflow: hidden;
}
.project-list a figure img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.project-wrapper-mobile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32vh, 1fr));
  gap: 1.5em;
  list-style-type: none;
  width: 100%;
}
.project-list-mobile {
  height: 70vh;
  width: 33vh;
  margin-left: 3em;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 2px rgb(144, 142, 142);
  background-color: var(--main-color);
}
.project-list-mobile a {
  display: block;
  height: 100%;
}
.project-list-mobile a figure {
  height: 100%;
  overflow: hidden;
}
.project-list-mobile a figure img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: contain;
}
.portfolio-nav {
  margin-left: 1em;
}

.portfolio-nav li.active {
  color: var(--gold-color);
}
@media (min-width: 769px) and (max-width: 1024px) {
  .project-wrapper-mobile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32vh, 1fr));
    gap: 1em;
    list-style-type: none;
    width: 100%;
  }
  .project-list-mobile {
    height: 70vh;
    width: 33vh;
    margin: 0.5em auto;
    overflow: hidden;
  }
}
