* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin: 0 15px;
  cursor: pointer;
}

.content {
  margin-top: 20px;
}

.project-list a figure img {
  width: auto;
  height: 25vh;
  border-radius: 15px;
}
.project-list a {
  text-decoration: none;
}
.project-list h6 {
  margin: 0 1em;
  margin-top: 1em;
  font-size: 1em;
  font-weight: 500;
}
.project-list p {
  margin-left: 1.1em;
}
.content {
  padding-right: 1em;
  margin-left: 1em;
}
.project-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  list-style-type: none;
}
