* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --bg-color: #151515;
  --main-color: #252525cf;
  --gold-color: #ffd700;
  --job-title: #313131cf;
}
body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}
.main-header {
  position: relative;
  border: 1px solid;
  border-radius: 20px;
  background-color: #252525cf;
  margin-top: 6em;
  margin-left: 7em;
  margin-right: 7em;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 2px rgb(144, 142, 142);
}
/* .image-div {
  background-color: black;
  border: 1px solid;
  border-radius: 20px;
  padding: 1em;
  margin: 2em;
}
.image-div img {
  width: 100%;
  height: 16vh;
  object-fit: cover;
  cursor: pointer;
} */
.image-div {
  position: relative;
  width: 18vh;
  height: 18vh;
  margin: 2em;
  padding: 1em;
  border: 1px solid;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.image-div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.name-div {
  color: white;
  margin-top: -2em;
}
.name-div h1 {
  margin-bottom: 1em;
}
.job-title {
  margin-top: 30em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #313131cf;
  font-weight: 100;
  border-radius: 10px;
  padding: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
}
button {
  background: none;
  border: none;
  border-radius: 0;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}
.show-contact {
  box-shadow: -1px -1px 2px rgb(144, 142, 142);
  position: absolute;
  text-decoration: none;
  background: rgba(49, 49, 49, 0.812);
  color: #ffd700;
  top: 0;
  right: 0;
  padding: 0 1.5em;

  height: 9vh;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0;
  transition: background 0.5s ease-in-out;
}
.show-contact:hover {
  box-shadow: -1px -1px 2px #ffd700;
}

/* about-content */

.about-content {
  position: relative;
  border: 1px solid;
  border-radius: 20px;
  background-color: #252525cf;
  margin-top: 6em;
  margin-left: 7em;
  margin-right: 7em;
  box-shadow: 0 0 2px rgb(144, 142, 142);
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--job-title);
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
}
.header-nav ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.header-nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav ul li {
  padding: 1.5rem 2rem;
}
.header-nav ul li #on-page {
  color: var(--gold-color);
}
/* newww */

.about-content {
  position: relative;
  border: 1px solid;
  border-radius: 20px;
  background-color: #252525cf;
  margin-top: 6em;
  margin-left: 7em;
  margin-right: 7em;
  margin-bottom: 6em;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--job-title);
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
}
.header-nav ul li a {
  text-decoration: none;
  list-style: none;
  color: #e2e0e0;
  transition: all 0.4s ease;
}
.header-nav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav ul li {
  padding: 1.5rem 2rem;
}
.header-nav ul li #on-page {
  color: var(--gold-color);
}
.header-nav ul li a:hover {
  color: #c4c1c1d3;
}
.header-nav ul li a.active {
  color: var(--gold-color);
}

/* aboutme-content */
.about-me {
  color: white;
}
.about-me hr {
  color: white;
  size: 2em;
}
.about-me h1 {
  padding: 0.8em 1em;
}
.about-me p {
  margin: 0 2em;
  line-height: 1.5em;
  font-weight: 10;
  color: #c4c1c1;
  text-align: justify;
}
.golden-dash {
  width: 6%;
  height: 0.4em;
  border-radius: 13px;
  background-color: var(--gold-color);
  margin-left: 2em;
  margin-bottom: 2em;
}

/* the-hidden-showcontacts */
.contacts .icon-div {
  font-size: 1em;
  color: var(--gold-color);
  width: 2.4em;
  height: 2.4em;
  padding-top: 0.6em;
  padding-left: 0.6em;
  margin-right: 2em;

  border-radius: 10px;

  box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2);
}

.contacts-wrapper {
  position: absolute;
  display: grid;
  width: 94%;
  bottom: 0;
  left: 0;
  margin: 0 2em;
  padding: 2em 0;
  margin-bottom: 2em;

  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
}

.contacts {
  display: flex;
  align-items: center;

  color: white;
}
strong {
  line-height: 1.5em;
  font-weight: lighter;
  color: #c4c1c1da;
}

.contacts-footer {
  color: white;
}
.contacts-footer {
  display: flex;
  align-items: center;
}
.contacts-footer a {
  color: #c4c1c1;
  margin-right: 1.5em;
  font-size: 1.3em;
  transition: all 0.4s ease;
}
.contacts-wrapper a:hover {
  color: var(--gold-color);
  rotate: 360deg;
}
/* Responsive Design */
@media (max-width: 499px) {
  .main-header {
    position: relative;
    /* width: 70%; */
    margin: 4% 6%;
    overflow: hidden;
  }
  .about-content {
    position: relative;
    padding: 0em;
    margin: 4% 6%;
  }
  /* .image-div {
    background-color: #fbf7f7;
    border: 1px solid;
    border-radius: 20px;
    padding: 0.2em;
    margin: 1em;
  }
  .image-div img {
    width: 100%;
    height: 12vh;
    object-fit: cover;
    cursor: pointer;
  } */

  .name-div {
    font-weight: 100;
    margin-top: -2em;
  }
  .name-div h1 {
    font-size: 1em;
  }
  .job-title {
    font-size: 0.8em;
    border-radius: 10px;
    padding: 0.5em;
    margin-left: 0.5em;
    cursor: text;
  }
  .show-contact {
    padding: 0 1em;

    height: 6vh;
  }
  .about-me p {
    padding-left: 0.7em;

    font-size: 0.8em;

    text-align: justify;
  }
  .golden-dash {
    width: 12%;
  }
  /* newww */
  .header {
    position: relative;
  }

  .header-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.83);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);

    z-index: 1000;
  }

  .header-nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; /* Remove default list styling */
    margin: 0;
    padding: 0;
  }
  .header-nav ul li {
    margin: 0;
    padding: 1.4em 0;
    font-size: 0.8em;
  }

  /* newwww */

  .contacts-wrapper {
    grid-template-columns: 1fr; /* Single column layout on mobile */
  }
}
@media (min-width: 500px) and (max-width: 768px) {
  .main-header {
    position: relative;
    /* width: 70%; */
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    overflow: hidden;
  }
  .about-content {
    position: relative;
    /* width: 70%; */
    padding: 1em;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
  }

  .contacts-wrapper {
    grid-template-columns: 1fr; /* Single column layout on mobile */
  }

  .header-nav ul {
    flex-direction: column; /* Stack nav items */
    align-items: center; /* Center nav items */
  }
  .header-nav ul li {
    padding: 0.7em 2em; /* Adjust padding for stacked items */
  }

  /* the-hidden-showcontacts */
  .contacts .icon-div {
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    padding-top: 0.9em;
    padding-left: 0.9em;
    margin-right: 2em;
  }

  .contacts-wrapper {
    position: absolute;
    display: grid;
    width: 90%;
    bottom: 0;
    left: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2),
      0 1px 0 rgba(255, 255, 255, 0.2);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .main-header {
    position: relative;
    /* width: 70%; */
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    overflow: hidden;
  }
  .about-content {
    position: relative;
    /* width: 70%; */
    padding: 1.2em;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
  }

  .contacts-wrapper {
    grid-template-columns: 1fr; /* Single column layout on mobile */
  }

  .header-nav ul {
    flex-direction: column; /* Stack nav items */
    align-items: center; /* Center nav items */
  }
  .header-nav ul li {
    padding: 0.6em 2em; /* Adjust padding for stacked items */
  }
  .header-nav ul {
    justify-content: space-around; /* Even spacing for nav items */
  }
  /* the-hidden-showcontacts */
  .contacts .icon-div {
    font-size: 1.5em;
    width: 3em;
    height: 3em;
    padding-top: 0.9em;
    padding-left: 0.9em;
    margin-right: 2em;
  }

  .contacts-wrapper {
    position: absolute;
    display: grid;
    width: 90%;
    bottom: 0;
    left: 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2),
      0 1px 0 rgba(255, 255, 255, 0.2);
  }
}
